@tailwind base;
@tailwind components;
@tailwind utilities;

.hideOnPrint {
  @media print {
    display: none;
  }
}

ul {
  list-style-type: disc;
}

a:hover {
  text-decoration: underline;
}

#root {
  width: 100%;
}

button,
input[type="submit"],
#picture-button {
  transition: transform 0.2s ease-in;
}

button:hover,
input[type="submit"]:hover,
#picture-button:hover {
  transform: scale(1.05);
}
